<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>@ViewBag.Title - Scaling Calculator</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <meta name="description" content="A simple calculator to scale an input or a raw value given the linear limits." />
    
    <script src="~/Scripts/jquery-3.1.1.js"></script>

    @*<script src="https://code.jquery.com/jquery-3.1.1.min.js"
            integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
            crossorigin="anonymous"></script>

    <script src="https://code.jquery.com/jquery-1.12.4.min.js"
            integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ="
            crossorigin="anonymous"></script>

    <script src="https://code.jquery.com/jquery-1.11.2.min.js"
            integrity="sha256-Ls0pXSlb7AYs7evhd+VLnWsZ/AqEHcXBeMZUycz/CcA="
            crossorigin="anonymous"></script>


    <script src="https://code.jquery.com/jquery-2.2.4.min.js"
            integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
            crossorigin="anonymous"></script>

    <script type="text/javascript" src="//cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>*@

    <link href="~/Content/DataTables/css/jquery.dataTables.min.css" rel="stylesheet" />
    
    


    

</head>




<body>
    <div class="navbar navbar-default bg-inverted navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <sup><span class="badge">New Version 1.1</span></sup>@Html.ActionLink("Scaling Calculator", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("Calculate", "Calculate", "Home")</li>
                    <li>@Html.ActionLink("Products List", "Index", "Products")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                </ul>
            </div>
        </div>
    </div>


    <div class="container">





        @RenderBody()
        <hr />

        @*<div class="row">
                <div class="col-md-3">
                    <div class="customDiv">Tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit, vehicula ut laoreet ac, aliquam sit amet justo nunc tempor, metus vel.</div>
                </div>
                <div class="col-md-3">
                    <div class="customDiv">Tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit, vehicula ut laoreet ac, aliquam sit amet justo nunc tempor, metus vel.</div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="customDiv">Column 1</div>
                </div>
                <div class="col-md-3">
                    <div class="customDiv">Column 2</div>
                </div>
                <div class="col-md-3">
                    <div class="customDiv">Column 3</div>
                </div>
                <div class="col-md-3">
                    <div class="customDiv">Column 4</div>
                </div>
            </div>*@




        <footer>
            <p>&copy; @DateTime.Now.Year </p>
        </footer>
    </div>



    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script src="~/Scripts/jquery-3.1.1.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.11.2.min.js"
            integrity="sha256-Ls0pXSlb7AYs7evhd+VLnWsZ/AqEHcXBeMZUycz/CcA="
            crossorigin="anonymous"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/DataTables/jquery.dataTables.min.js"></script>



    <script type="text/javascript">
    $(document).ready(function () {
        $('#datatable').dataTable();

    });

    </script>

</body>
</html>
